<mat-toolbar   color="primary">
  <button color="default" mat-button  routerLink="/" class="clickable" routerLinkActive="active" >
    Elements
  </button>
  <span class="example-fill-remaining-space"></span>
  <button color="default" mat-button  routerLink="/Twiter" > Twiter  </button>
  <button color="default" mat-button  routerLink="/facebook" > FaceBook  </button>
  
</mat-toolbar>