<h1 mat-dialog-title>add Tweet  </h1>
<div mat-dialog-content>
    <form>
        <table>
            <tr>
                <td colspan="2">
                    <mat-form-field class="demo-full-width">
                        <input matInput name="texterea" #text [(ngModel)]="data.text" placeholder="Tweet">
                    </mat-form-field>
                </td>
            </tr>
        </table>
    </form>
</div>
<div mat-dialog-actions>
    <button mat-raised-button color="primary" [mat-dialog-close]="data"   cdkFocusInitial>Submit</button>
    <button mat-raised-button color="primary" (click)="onNoClick()">Clear</button>
    <!-- <P *ngIf='isError'>{{errorMessage}}</P> -->
</div>