/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
@import url(https://fonts.googleapis.com/css?family=Cairo&subset=arabic);
body{
    margin: 0;
    padding: 0;
}
.sidenav{
    width: 14%
}
.first{
  display: none;
}
.modals {
   border-radius: 8%;
    display: block; /* Hidden by default */
    position: fixed;  
    z-index: 999999 !important; /* Sit on top */
    font-family: 'Cairo', sans-serif;
     /*padding-top: 100px; Location of the box */
    width: 20%; /* Full width */
    overflow: scroll; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0); /* Black w/ opacity */
    display:block;
    -webkit-box-shadow: 10px 10px 35px 3px rgba(0,0,0,0.49);
   -moz-box-shadow: 10px 10px 35px 3px rgba(0,0,0,0.49);
    box-shadow: 10px 10px 35px 3px rgba(0,0,0,0.49);
    background-color:white;
    left: 1px;
    top: 100px;
    height: 80%;
  }
  .spinner{
    z-index: 123 !important; /* Sit on top */
    margin-left: 40%;
    margin-top: -30%
  }
  .fontCairo{
    font-family: 'Cairo', sans-serif; 
  }
   
  /* Modal Content */
  .modal-content {
  left: 20;
    top: 40;
    width: 60%; /* Full width */
    height: 60%;
    margin: auto;
    padding: 20px;
    width: 80%;
  }
  .btnSave{
    background-color:#673AB7;width:100px;height:40px;border-radius:10px;color:white;margin-bottom: 3%;
  }
  .cancelButton{
    background-color: #960000;width:100px;height:40px;border-radius:10px;color:white;margin-bottom: 3%;
  }
  .cancelRoute{
    background-color: #960000;width:100px;height:40px;border-radius:10px;color:white;margin-bottom: 3%;
    /* text-decoration: none; */
  }
  .createRoute{
    background-color:#673AB7;width:100px;height:40px;border-radius:10px;color:white;margin-bottom: 3%;
    /* text-decoration: none; */
  }
  .stopIntask{
      color:rgb(74, 65, 204);
      text-decoration: line-through;
  }
  .stopDone{
    color:rgb(0, 102, 255);
    text-decoration: none;
   
}
.mat-drawer-container .mat-sidenav-container{
  height: 99vh !important;
}
.mat-expanded>div {
  
  /* background-color: #673AB7 !important; */
}
